.tablelines table, .tablelines td, .tablelines th {
        border: 1px solid black;
        }
.centrado {
    text-align: center;
}
.justificado {
    text-align: justify;
}
.purple {
    color:inherit;
  }
.purple:hover {
    color:rgb(107,79,187);
  }
.blue {
  color: blue;
}
.emphasized {
   font-size: .8em;
}
.note {
   font-size: .9em;
}
#table.center {
    margin-left:auto; 
    margin-right:auto;
  }
.table_wrapper{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}